@model Entity.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <!-- /.navbar -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-">
                <div class="col-sm-6">
                    <h1 class="card-title">
                        <a href="/Heading/Index" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-arrow-circle-left"></i></a>Yeni Başlık
                    </h1>

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row-cols-1">


                    @using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.Label("Başlık Adı:")
                            @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.HeadingName)
                            <br />
                            @Html.Label("Kategori Adı:")
                            @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.category,
                           new { @class = "form-control" })
                            <br />
                            @Html.Label("Yazar Adı:")
                            @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.writer,
                           new { @class = "form-control" })
                            <br />
                            <button class="btn btn-outline-success">Ekle</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</body>
</html>

