@model Entity.Concrete.Category
@{
    Layout = null;
}

<h1>Yeni Kategori Ekle</h1>
<br />

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="form-group">

        @Html.Label("Kategori Adı:")
        @Html.TextBoxFor(x => x.CategoryName)
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br />
        <br />
        @Html.Label("Açıklamayı Yazınız:")
        @Html.TextBoxFor(x => x.CategoryDescription)
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br />

        <br />

        <button class="btn btn-primary">Kaydet</button>
    </div>
}


